@model DataModel
@{
    bool isG = true;
    List<string> todolist = ViewBag.list;
}

<!-- multistep form -->
<form id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active"><span>個人資料</span></li>
        <li><sapn>優良事蹟-台灣觀光</sapn></li>
        <li><span>優良事蹟-觀光防疫</span></li>
        <li><span>事蹟照片上傳</span></li>
        <li><span>其他資料上傳</span></li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">聯絡人資料</h2>
        @*<h3 class="fs-subtitle"></h3>*@
        <div class="fs-profiles">
            @if (isG)
            {
                <div><label>報名組別</label>個人</div>
                <div><label>單位類別</label>觀光行銷</div>
                <div><label>單位名稱</label>xxxxxx</div>
                <div><label>統一編號</label>xxxxxx</div>
            }
            else
            {
                <div><label>職稱</label>軟體工程師</div>
                <div><label>現職年資</label>1年</div>
                <div><label>本業年資</label>1年</div>
                <div><label>生日</label>1999/06/05</div>
            }
            <div><label>信箱</label>xxxxxx@gmail.com</div>
            <div><label>電話</label>0900123456</div>
            <div><label>地址</label>新北市新莊</div>
        </div>
        <button type="button" name="next" class="next action-button">下一頁<i class="arrowNext"></i></button>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">對臺灣觀光具體事蹟或成效</h2>
        <h3 class="fs-subtitle">
            條列說明109-111年符合表揚辦法規定之事蹟(按民國年份由近至遠撰寫)<br />
            範例1：111年3月籌辦8場在地好好玩小旅行，共612人參與。<br />
            範例2：110年8月擔任交通部觀光局觀光論壇主講人，與會人數1,066人。
        </h3>
        <div class="group-1">
            <div class="fs-group1">
                <div class="form-group">
                    <div class="num"><span>1.</span></div>
                    <div>
                        <span class="select">
                            <select class="form-control" name="yeardob">
                                <option>112</option>
                                <option>111</option>
                                <option>110</option>
                            </select>  年
                        </span>
                    </div>
                    <div>
                        <span class="select">
                            <select class="form-control" name="monthdob">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>  月
                        </span>
                    </div>
                </div>
                <div class="form-area">
                    <textarea class="txtarea" rows="4"></textarea>
                </div>
                <div class="fs-del">
                    <input type="button" name="delgp1" class="submit-button" value="刪除" />
                </div>
            </div>
        </div>
        <div class="fs-add">
            <input type="button" name="add" id="gp1" class="add-button" value="Add" />
        </div>

        <button type="button" name="previous" class="previous action-button"><i class="arrowPre"></i>上一頁</button>
        <button type="button" name="next" class="next action-button">下一頁<i class="arrowNext"></i></button>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">對觀光防疫或觀光創新作為具體事蹟或成效</h2>
        <h3 class="fs-subtitle">
            條列說明109-111年符合表揚辦法規定之事蹟(按民國年份由近至遠撰寫)<br />
            範例1：111年5月開辦觀光跨領域創新工作坊，2場次共168人參與。<br />
            範例2：109年7月飯店開始實施防疫早餐制，將早餐送至每位房客的房間。
        </h3>
        <div class="group-2">
            <div class="fs-group2">
                <div class="form-group">
                    <div class="num"><span>1.</span></div>
                    <div>
                        <span class="select">
                            <select class="form-control" name="yeardob">
                                <option>112</option>
                                <option>111</option>
                                <option>110</option>
                            </select>  年
                        </span>
                    </div>
                    <div>
                        <span class="select">
                            <select class="form-control" name="monthdob">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>  月
                        </span>
                    </div>
                </div>
                <div class="form-area">
                    <textarea class="txtarea" rows="4"></textarea>
                </div>
                <div class="fs-del">
                    <input type="button" name="delgp2" class="submit-button" value="刪除" />
                </div>
            </div>
        </div>
        <div class="fs-add">
            <input type="button" name="add" id="gp2" class="add-button" value="Add" />
        </div>

        <button type="button" name="previous" class="previous action-button"><i class="arrowPre"></i>上一頁</button>
        <button type="button" name="next" class="next action-button">下一頁<i class="arrowNext"></i></button>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">事蹟照片上傳</h2>
        <h3 class="fs-subtitle">
            *事蹟照片至多12張*<br />
            請於此上傳與前述事蹟相對應佐證之照片、聘書、獎狀、其他有利評選之佐證，<br />
            如：得獎事蹟(獎狀)、進修證明、相關新聞報導等照片。 事蹟照片及相關證明請精選至多12張。
        </h3>
        <div class="fs-edit">
            <div class="edit_list">
            <div>
                    <label for="">年份 </label>
                <div>
                        <span class="select">
                            <select class="form-control" name="yeardob">
                                <option>112</option>
                                <option>111</option>
                                <option>110</option>
                            </select>  年
                        </span>
                </div>
            </div>
            <div>
                    <label for="">描述</label>
                    <textarea rows="5" placeholder="描述"></textarea>
                </div>
                <div>
                    <label>
                        選擇圖片
                        <label class="fileupload_">
                            <label><input class="upload_img" style="display:none;" type="file">請選擇</label>
                        </label>
                    </label>
                    <div class="img_box">

                </div>
            </div>
                <div class="fs-del">
                    <input type="button" name="del"  class="submit-button" value="刪除" />
        </div>
            </div>
        </div>

        <div class="fs-add">
                <input type="button" name="add" id="img12" class="add-button" value="Add" />
        </div>
        <button type="button" name="previous" class="previous action-button"><i class="arrowPre"></i>上一頁</button>
        <button type="button" name="next" class="next action-button">下一頁<i class="arrowNext"></i></button>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">聯絡人資料</h2>
        @*<h3 class="fs-subtitle"></h3>*@
        <div class="form-group"><label>姓名</label><input type="text" name="fname" placeholder="First Name" value="sinyi" /></div>
        <div class="form-group"><label>信箱</label><input type="text" name="email" placeholder="Email" value="qqcbg90@gmail.com" /></div>
        <div class="form-group"><label>電話</label><input type="text" name="phone" placeholder="Phone" value="0912345619" /></div>
        <div class="form-group"><label>地址</label><input type="text" name="address" placeholder="Address" value="新北市新莊區" /></div>
        <button type="button" name="previous" class="previous action-button"><i class="arrowPre"></i>上一頁</button>
        <button type="button" name="submit" class="submit-button">送出</button>
    </fieldset>
</form>


@*網頁內容end*@

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                   
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        //img
        var uploadImgElements = document.querySelectorAll(".upload_img");
        uploadImgElements.forEach(function (uploadImgElement) {
            uploadImgElement.addEventListener("change", function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                var imgBox = uploadImgElement.closest(".edit_list").querySelector(".img_box");
                var existingImg = imgBox.querySelector(".edit-img");
                if (existingImg) {
                    existingImg.remove(); // 删除已有的照片
                }
                reader.onload = function (e) {
                    var imgElement = document.createElement("img");
                    imgElement.src = e.target.result;
                    var editImgContainer = document.createElement("div");
                    editImgContainer.classList.add("edit-img");
                    editImgContainer.appendChild(imgElement);
                    imgBox.appendChild(editImgContainer);
                }

                reader.readAsDataURL(file);
            });
        });

        //ADD_group1
        const addgp1 = document.querySelector('.fs-add #gp1');

        // 監聽「group1_Add」按鈕的點擊事件
        addgp1.addEventListener('click', function () {

            var gp1List = document.querySelector(".fs-group1"); 

            // 複製現有的.edit_list區塊的 HTML 内容
            var newEditListHTML = gp1List.outerHTML;

            // 將複製的 HTML 内容插入到 .fs-edit 區塊的末尾
            var fsEdit = document.querySelector(".group-1");
            fsEdit.insertAdjacentHTML("beforeend", newEditListHTML);


            // 
            var newEditList = fsEdit.lastElementChild;
            var newYearSelect = newEditList.querySelector("select[name='yeardob']");
            var newMonthSelect = newEditList.querySelector("select[name='monthdob']");
            var textarea = newEditList.querySelector('textarea');
            var num = newEditList.querySelector('span');//取得編號
            newYearSelect.selectedIndex = 0; // 年份默認
            newMonthSelect.selectedIndex = 0; 
            textarea.value = '';
            num.textContent = $(".fs-group1").length + ".";

            //刪除
            var deleteButtons = document.querySelectorAll(".fs-del input[name='delgp1']");
            deleteButtons.forEach(function (deleteButton) {
                deleteButton.addEventListener("click", function () {
                    if ($(".fs-group1").length != 1)
                    {
                    var editList = deleteButton.closest(".fs-group1");
                    editList.remove();
                    //呼叫重新編號 count func
                        count(".fs-group1");
                    }
                });
            });
        });


        //ADD_group2
        const addgp2 = document.querySelector('.fs-add #gp2');

        // 監聽「group2_Add」按鈕的點擊事件
        addgp2.addEventListener('click', function () {

            var gp1List = document.querySelector(".fs-group2");

            // 複製現有的.edit_list區塊的 HTML 内容
            var newEditListHTML = gp1List.outerHTML;

            // 將複製的 HTML 内容插入到 .fs-edit 區塊的末尾
            var fsEdit = document.querySelector(".group-2");
            fsEdit.insertAdjacentHTML("beforeend", newEditListHTML);


            // 
            var newEditList = fsEdit.lastElementChild;
            var newYearSelect = newEditList.querySelector("select[name='yeardob']");
            var newMonthSelect = newEditList.querySelector("select[name='monthdob']");
            var textarea = newEditList.querySelector('textarea');
            var num = newEditList.querySelector('span');//取得編號
            newYearSelect.selectedIndex = 0; // 年份默認
            newMonthSelect.selectedIndex = 0;
            textarea.value = '';
            num.textContent = $(".fs-group2").length + ".";

            //刪除
            var deleteButtons = document.querySelectorAll(".fs-del input[name='delgp2']");
            deleteButtons.forEach(function (deleteButton) {
                deleteButton.addEventListener("click", function () {
                    if ($(".fs-group2").length != 1) {
                        var editList = deleteButton.closest(".fs-group2");
                        editList.remove();
                        //呼叫重新編號 count func
                        count(".fs-group2");
                    }
                });
            });
        });

        function count(n) {
            var group1Elements = document.querySelectorAll(n);
            group1Elements.forEach(function (element, index) {
                var spanElement = element.querySelector('span');
                spanElement.textContent = (index + 1).toString()+"."; 
            });
            
        }

        //ADD_img12
        var addButton = document.querySelector(".fs-add #img12");

        addButton.addEventListener("click", function () {
            var editList = document.querySelector(".edit_list"); // 取得現有.edit_list 區塊

            // 複製現有的.edit_list區塊的 HTML 内容
            var newEditListHTML = editList.outerHTML;

            // 將複製的 HTML 内容插入到 .fs-edit 區塊的末尾
            var fsEdit = document.querySelector(".fs-edit");
            fsEdit.insertAdjacentHTML("beforeend", newEditListHTML);

            // 清空照片、描述和年份選擇
            var newEditList = fsEdit.lastElementChild;
            var newFileInput = newEditList.querySelector(".upload_img");
            var newImgBox = newEditList.querySelector(".img_box");
            var newYearSelect = newEditList.querySelector("select[name='yeardob']");
            newFileInput.value = ""; // 清空選擇的文件
            newImgBox.innerHTML = ""; // 清空圖片顯示
            newYearSelect.selectedIndex = 0; // 年份默認選項

            // 在選擇文件後顯示圖片
            newFileInput.addEventListener("change", function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var imgElement = document.createElement("img");
                    imgElement.src = e.target.result;
                    var editImgContainer = document.createElement("div");
                    editImgContainer.classList.add("edit-img");

                    newImgBox.innerHTML = ""; // 只顯示目前選擇的圖片
                    newImgBox.appendChild(editImgContainer);
                    editImgContainer.appendChild(imgElement);
                };

                reader.readAsDataURL(file);
            });
            
            //刪除
            var deleteButtons = document.querySelectorAll(".fs-del input[name='del']");
            deleteButtons.forEach(function (deleteButton) {
                deleteButton.addEventListener("click", function () {
                    if ($(".edit_list").length != 1) {
                    var editList = deleteButton.closest(".edit_list");
                        editList.remove();
                    }
                });
            });
        });

    </script>

}