@{

}

@section featured_top{
    <div class="black_bg"></div>
}

@section head{

}

@section featured{

}

@*網頁內容start*@
@using (Html.BeginForm())
{
   <h1>@ViewBag.password</h1>
   
}
@*網頁內容end*@

@section scripts{
    <script>
        $(function () {
          
        })
    </script>
}

