@{

}

@section head{

}

@section featured{

}

@*網頁內容start*@
<div class="two_box">
    <div class="box_box helf">
        <p class="tb_name">歡迎使用 @Function.PAGE_TITLE</p>
    </div>

</div>
@*網頁內容end*@

@section scripts{

}

