<div class="header_content">
    <img src="~/Images/logo2.svg" />
    <h2>活動辦法</h2>
</div>
<div class="w1400 flex-shrink-0">
    <div class="box my-5 px-5 pt-5 pb-4">
        <p>
            為推廣國內外旅客出遊選擇安心合法的住宿，本局推出合法旅宿網路宣傳活動「住宿選合法 安心不踩雷」，只要於活動期間內入住臺灣旅宿網登錄之合法旅宿，透過上傳入住合法旅宿標章的照片，即有機會參加抽獎，民眾選擇住宿可至臺灣旅宿網查詢旅宿登記證號，並認識合法旅宿標章、旅館及民宿登記證，保障旅客住的安全。
        </p>

        <h1>主辦單位</h1>
        <p>交通部觀光局</p>
        <h1>活動期間</h1>
        <p>只要於111年12月5日至111年12月25日期間入住全台合法旅宿，即可登入上傳指定照片，活動照片上傳自111年12月5日10:00 至 111年12月31日18:00止。</p>

        <h1>參與方式</h1>
        <p class="text-indent">01.	於活動網站首頁登入「住宿選合法 安心不踩雷」頁面，點選登入後綁定Facebook、Google帳號或電子郵件，即可開始上傳指定照片。</p>
        <p class="text-indent">
            02.	入住時間須在活動時間111年12月5日至111年12月25日。
        </p>
        <p class="text-indent">
            03.	上傳資料欄位選定日期後即不可重覆上傳同一日期之入住資料。
        </p>
        <p class="text-indent">
            04.	同一帳號限得獎一次，恕不重覆給獎，如有重覆得獎情形，以優先抽出之獎項為準。
        </p>
        <h1>抽獎活動</h1>
        <p class="text-indent">01.	抽獎資格：凡參與活動者，上傳1筆資料即獲得1次抽獎機會，只要有上傳入住花東地區合法旅宿者增加1次額外抽獎機會，但不得重複中獎。</p>
        <p class="text-indent">02.	抽獎獎品：全台90家合法旅宿住宿券。</p>
        <p class="text-indent">03.	抽獎時間：預計於112年1月中旬辦理，得獎名單將公布於活動網站。</p>
        <p class="text-indent">04.	獲獎者統一以當初登入之信箱聯繫，如在7個日曆天內，聯繫後仍未回覆，將視同放棄中獎權益，依序由候補名單補上，候補名單聯繫方式亦同。</p>
        <p class="text-indent">05.	獲獎者須提供當天住宿證明或可證明之住宿相關憑證，如無法提供恕無法
領獎，視同放棄中獎資格。
</p>
        @*<h1>活動獎項</h1>*@

       @* <div class="container">
    <div class="row">
            <div class="col-md-12 my-2">
                <p class="pt-4 step"><img class="img-fluid" src="~/Images/banner.jpg" /></p>
                <p class="pt-4 step-768"><img class="img-fluid" src="~/Images/banner-mobile.jpg" /></p>
            </div>
        </div>*@
           @* <div class="row">
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon1.png" />
                    <span>壹獎 - 合法旅宿萬元住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/39691.jpg">
                </div>
                <h3>新竹老爺大酒店(新竹)</h3>
                <p>豪華家庭房乙晚</p>
                <span class="org"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon1.png" />
                    <span>壹獎 - 合法旅宿萬元住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/19417.jpg">
                </div>
                <h3>墾丁夏都沙灘酒店(屏東)</h3>
                <p>家庭海景房乙晚</p>
                <span class="org"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">貳獎</span>
                </div>
                <div class="img">
                    <img src="~/Images/gift/02.jpg" />
                </div>
                <h3>Eminent 20吋客製行李箱</h3>
                <p> </p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">參獎 - 合法旅宿雙人晚餐券</span>
                </div>
                <div class="img">
                    <img src="~/Images/gift/03.jpg" />
                </div>
                <h3>新竹國賓大飯店</h3>
                <p>八方燴西餐廳自助餐雙人餐券乙張 </p>
                <span><b>10</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">肆獎 - 合法旅宿雙人下午茶券</span>
                </div>
                <div class="img">
                    <img src="~/Images/gift/04.jpg" />
                </div>
                <h3>晶華酒店</h3>
                <p>下午茶雙人餐券乙張</p>
                <span><b>20</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/51524.jpg" />
                </div>
                <h3>逢春園 (宜蘭)</h3>
                <p>精緻客房乙晚5折住宿券</p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/157770.jpg" />
                </div>
                <h3>散步的雲-日月潭生態民宿  (南投)</h3>
                <p>B2/B3客房乙晚5折住宿券</p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/19323.jpg" />
                </div>
                <h3>喜歡農莊 (花蓮)</h3>
                <p>標準雙人房乙晚5折住宿券</p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/130836.jpg" />
                </div>
                <h3>語榕花園民宿 (澎湖)</h3>
                <p>雙人房乙晚5折住宿券</p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/23573.jpg" />
                </div>
                <h3>南庄普羅旺斯鄉村民宿 (苗栗)</h3>
                <p>雙人房乙晚5折住宿券</p>
                <span><b>2</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/48591.JPG" />
                </div>
                <h3>洄瀾窩青年旅舍</h3>
                <p>憑劵訂房可享現場價9折優惠</p>
                <span><b>20</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/134443.jpg" />
                </div>
                <h3>TS MOTEL (鼎帥温泉汽車旅館)</h3>
                <p>憑券來電訂房，即享9折優惠，再送好湯券</p>
                <span><b>10</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/42564.jpg" />
                </div>
                <h3>老公老婆友善民宿</h3>
                <p>透過電話訂房，憑券即享9折優惠，附贈簡單早餐</p>
                <span><b>10</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">伍獎 - 合法旅宿住宿優惠券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/6093.jpg" />
                </div>
                <h3>墾丁福華渡假飯店</h3>
                <p>出示本活動之優惠券享入住每房優惠$200</p>
                <span><b>10</b>名</span>
            </div>
        </div>

        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon2.png" />
                    <span class="ribbon2">陸獎</span>
                </div>
                <div class="img">
                    <img src="~/Images/gift/06.jpg" />
                </div>
                <h3>7-11超商100元禮物卡</h3>
                <span><b>100</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon1.png" />
                    <span class="ribbon1">總積分前三名加碼抽-合法旅宿萬元住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/36863.jpg" />
                </div>
                <h3>台南大員皇冠假日酒店 (台南)</h3>
                <p>高級房大床乙晚</p>
                <span class="org"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon1.png" />
                    <span class="ribbon1">總積分前三名加碼抽-合法旅宿萬元住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/12985.jpg" />
                </div>
                <h3>永豐棧酒店 (台中)</h3>
                <p>景緻闔家客房乙晚</p>
                <span class="org"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon1.png" />
                    <span class="ribbon1">總積分前三名加碼抽-合法旅宿萬元住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/18472.jpg" />
                </div>
                <h3>寒軒國際大飯店 (高雄)</h3>
                <p>甜蜜家庭房乙晚</p>
                <span class="org"><b>1</b>名</span>
            </div>
        </div>


        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/39145.jpg" />
                </div>
                <h3>趣淘漫旅 (台南)</h3>
                <p>豪華景觀房 一大床乙晚</p>
                <span class="blue"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/47020.jpg" />
                </div>
                <h3>福容大飯店 花蓮</h3>
                <p>海景客房乙晚</p>
                <span class="blue"><b>3</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/32219.jpg" />
                </div>
                <h3>逗號民宿 (苗栗)</h3>
                <p>兩人房乙晚</p>
                <span class="blue"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="~/Images/gift/07.jpg" />
                </div>
                <h3>山房子 (苗栗)</h3>
                <p>空氣/花雙人房乙晚</p>
                <span class="blue"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/3111.jpg" />
                </div>
                <h3>新水調歌頭民宿 (金門)</h3>
                <p>雙人套房乙晚</p>
                <span class="blue"><b>1</b>名</span>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="gift-boxA px-2 py-2">
                <div class="ribbon">
                    <img src="~/Images/gift/ribbon3.png" />
                    <span class="ribbon3">活動加碼抽-合法旅宿住宿券</span>
                </div>
                <div class="img">
                    <img src="https://taiwan.taiwanstay.net.tw/twpic/21849.jpg" />
                </div>
                <h3>以合金寨 (花蓮)</h3>
                <p>白金兩人房乙晚</p>
                <span class="blue"><b>1</b>名</span>
            </div>
        </div>
    </div>
            </div>*@


            <h1>注意事項</h1>
            <p class="text-indent">01.	參加者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反者，主辦單位得不經通知取消參加本活動之資格，如因此致生損害，亦得請求損害賠償</p>
            <p class="text-indent">02.	參加者應了解並同意提供個人資料予主辦單位，主辦單位將遵循「個人資料保護法」之規定，於本活動之特定目的範圍內蒐集，處理及利用您的個人資料。您有權透過主辦單位連絡信箱提出要求使用、更正、補充、刪除您所提供之個人資料，惟活動結束前提出刪除個人資料者，視同放棄參加本活動。</p>
            <p class="text-indent">03.	參加者應保證所填寫或提出之所有資料均為真實且正確，未冒用或盜用任何第三人之資料。如有不實或不正確之情事，將取消本活動參加資格；如致主辦單位或任何第三人受有損害，參加者應負擔相關賠償責任。</p>
            <p class="text-indent">04.	活動獎品不得轉讓、轉換、折換現金或更換其他獎項，亦不得將獎項權利轉讓第三人。</p>
            <p class="text-indent">05.  依中華民國稅法，得獎者須遵守以下規定：贈品金額超過＄1,000元者，需開立扣繳憑單。贈品金額超過$20,000元以上者，須繳交10%機會中獎稅；非國內居住的個人，不限中獎金額，須繳交20%機會中獎稅及需自付運費。中獎人參加本活動而需支付之任何稅捐係屬得獎人依稅法之規定所需履行之義務，概與本局無關，倘有稅務法令適用之爭議者，概由得獎人自行向開徵機關提出申訴。</p>
            <p class="text-indent">06.	主辦單位得以活動辦理情形，公告調整活動內容，其他未盡事宜，以主辦單位解釋為準。</p>
            <p class="text-indent">07.	如有任何因電腦、網路、電話、技術等不可歸責於主辦單位之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，主辦單位不負任何法律責任及賠償義務，參加者不得因此異議。</p>
            <p class="text-indent">08.	主辦單位擁有保留修改活動內容之權利，修改訊息將於活動網頁上公佈，不另行通知。</p>
            <p class="text-indent">09.	活動獎項寄送地區僅限臺、澎、金、馬，不處理郵寄獎品至海外地區之事宜。</p>
            <p class="text-indent">10.	活動相關問題請洽：<a href="tel:+886-2-2392-8599">02-2392-8599 分機20、26</a></p>
            <p class="text-indent">11.	若參加者以人頭帳號或電腦駭客程式等不正當手段參與活動，經主辦單位發現或經第三人檢舉，主辦單位有權取消抽獎與獲獎資格，且不另行通知，並保留法律追訴權。</p>
            <h1>隱私權政策</h1>

            <p class="text-indent">01.	隱私權保護政策的適用範圍 : 隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</p>
            <p class="text-indent">
                02.	個人資料的蒐集、處理及利用方式 : 當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。
                本網站在您使用服務信箱等互動性功能時，會保留您所提供的姓名與電子郵件地址等。於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。為提供精確的服務，我們會將收集的內容進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。
            </p>
            <p class="text-indent">03.	資料之保護 : 只由經過授權的人員才能接觸您的個人資料，如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關。</p>
            <p class="text-indent">04.	網站對外的相關連結 : 本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。</p>
            <p class="text-indent">
                05.	與第三人共用個人資料之政策本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。

                前項但書之情形包括不限於：
                <i>經由您書面同意。</i>
                <i>法律明文規定。</i>
                <i>為維護國家安全或增進公共利益。</i>
                <i>為免除您生命、身體、自由或財產上之危險。</i>
                <i>公務機關或學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集著依其揭露方式無從識別特定之當事人。</i>
                <i>當您使用本網站時，有違反本網站之服務條款或可能損害或妨礙本公司之權益或導致任何人遭受損害時，經本網站研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。</i>
                <i>有利於您的權益。</i>
                <i>相關協力廠商為執行相關活動之必要範圍內。</i>
                本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。
            </p>
            <p class="text-indent">06.	Cookie之使用 : 為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行 。</p>
            <p class="text-indent">07.	未成年人保護 : 本網站並非特別為成年人/兒童設計，未成年人使用本網站時，若同意本網站蒐集、利用其個人資訊時，應在法定代理人或監護人之同意下為之。法定代理人或監護人得隨時請求本公司停止特定帳號及其相關之個人資料之蒐集、處理及利用行為。</p>
            <p class="text-indent">08.	隱私權保護政策之修正 : 本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。</p>
        </div>
    </div>
    @section scripts{

    }
