
<div class="page_main" style="background-image: url(@Url.Content("~/images/pagebg_11.jpg")">
    <div class="wrap" style="display: contents;">
        <!--標題-->
        <div class="main_title">
            <h1 class="page_title">@ViewBag.b1</h1>
        </div>
    </div>
</div>
<div class="wrap pageZ-4">
    <div>
        @ViewBag.b1
    </div>
</div>
@section scripts{

}
