
<div class="page_main" style="background-image: url(@Url.Content("~/images/pagebg_08.jpg")">
    <div class="wrap" style="display: contents;">
        <!--標題-->
        <div class="main_title">
            <h1 class="page_title">@ViewBag.b1</h1>
        </div>
    </div>
</div>
<div class="wrap pageZ-4 pravicy_wrap">
    <h1>網站安全政策</h1>
    <p>
        歡迎來到桃園All好遊網站(以下簡稱本網站)，為了幫助您瞭解本網站如何保護您在使用本網站各項服務的安全，請您詳細閱讀本網站的隱私保護及安全政策：
    </p>

    <h1>網站安全保護措施</h1>
    <p>1.任何未經授權而企圖上載或更改本網站提供的各項服務及相關資訊的行為，都是嚴格禁止而且可能觸犯法律。</p>
    <p>2.為了本網站主機的安全和確保能夠繼續服務所有的網路使用者，本所裝設掃毒軟體定期掃毒及不定期進行弱點掃描與系統漏洞修補，以提供使用者更安全的網頁瀏覽環境；並使用防火牆監控功能，防止非法入侵、破壞或竊取資料，避免網站資料遭到非法使用，以保障使用者的權益。</p>

    <h1>關於安全政策的修改</h1>
    <p>由於科技發展的迅速，相關法規訂定未臻完備前，以及未來可能難以預見的環境變遷等因素，本網站將會視需要修改網站上所提供的資安政策的說明，以落實保障網路安全的立意。當本網站完成資安政策的修改時，我們會立即將其刊登於本網站上。</p>

    @*<div>
            @ViewBag.b1
        </div>*@
</div>
@section scripts{

}
