<div class="header_content">
    <img src="~/Images/logo.svg" />
    <h2>Facebook資料刪除指示</h2>
</div>
<div class="w1400 flex-shrink-0">
    <div class="box my-5 px-5 pt-1 pb-4">
        <h1>Facebook資料刪除指示</h1>
        <p>
            @(Function.PAGE_TITLE)登入有使用Facebook登入應用。<br />
            雖然我們不會在我們的伺服器裡保存您的個人資料，但是根據Facebook的政策，<br />
            我們必須提供 "Facebook資料刪除指示的網址" (這個網頁)。
            <br /><br />
            如果您想刪除與@(Function.PAGE_TITLE)有關的Facebook登入應用數據，您可以按照以下步驟進行：
            <br /><br />
            1. 進入您的Facebook帳號的 "設定和隱私 "選單。點擊 "設定"
            <br /><br />
            2. 向下滾動並點擊 "應用程式和網站"
            <br /><br />
            3. 找到並點擊"@(Function.PAGE_TITLE)"
            <br /><br />
            4. 點擊 "移除" 按鈕
            <br /><br />
            恭喜您，您已經成功地刪除了您的@(Function.PAGE_TITLE)應用程式活動。
        </p>
        <h1>移除在@(Function.PAGE_TITLE)的個人資訊</h1>
        <p>
            如果您想移除在@(Function.PAGE_TITLE)的個人資訊
            <br />
            <a href="mailto:2022taiwanstay@kingspread.com.tw">點擊這裡</a>發送電子郵件，信中請提供註冊的E-mail帳號，經管理員確認為本人後即可移除。
        </p>
    </div>
</div>
@section scripts{

}