<div class="header_content">
    <img src="~/Images/logo.svg" />
    <h2>抽獎結果</h2>
</div>
<div class="w1400 flex-shrink-0">
    <div class="box for-store my-5 px-5 pt-3 pb-4">
        <h1>抽獎須知</h1>
        <div class="notice mt-2">
            <p>1.獲獎者統一以當初登入之信箱聯繫，如在7個日曆天內聯繫未回覆，將視同放棄中獎權益，依序由候補名單補上，候補名單聯繫方式亦同。</p>
            <p>2.同一個Email帳號，僅限得獎一次，恕不重複給獎，如有重覆得獎情形，以先抽出之獎項為準。</p>
            <p>3.最終活動獎品將依購買當下而定，活動獎品不得轉讓、轉換、折換現金或更換其他獎項，亦不得將獎項權利轉讓第三人。</p>
            <p>4.依中華民國稅法，得獎者須遵守以下規定：贈品金額超過＄1,000者，需開立扣繳憑單。贈品金額超過$20,000以上者，須繳交10%機會中獎稅；非國內居住的個人，不限中獎金額，須繳交20%機會中獎稅及需自付運費。中獎人參加本活動而需支付之任何稅捐係屬得獎人依稅法之規定所需履行之義務，概與本局無關，倘有稅務法令適用之爭議者，概由得獎人自行向開徵機關提出申訴。</p>
        </div>
		<div class="notice mt-2">
			※ 得獎通知信函已於111年9月15日Email寄出，請獲獎的朋友留意信箱郵件(收件匣、垃圾郵件)，如有任何問題歡迎來信、來電詢問！
		</div>
		<div class="notice mt-2">
			※ 候補名單-得獎通知信函已於111年9月29日Email寄出，請獲獎的朋友留意信箱郵件(收件匣、垃圾郵件)，如有任何問題歡迎來信、來電詢問！
		</div>
        <h1>總積分前三名加碼抽-合法旅宿萬元住宿券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">排名</th>
                    <th scope="col">分數</th>
                    <th scope="col">獎項</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
                <tr class="eat">
                    <th scope="row">1</th>
                    <th scope="col">74880</th>
                    <th scope="col">台南大員皇冠假日酒店 高級房大床乙晚</th>
                    <td>chao***ustine89@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th scope="col">74870</th>
                    <th scope="col">永豐棧酒店 景緻闔家客房乙晚</th>
                    <td>kin***.danny@gmail.com</td>
                </tr>
                <tr class="eat">
                    <th scope="row">3</th>
                    <th scope="col">74840</th>
                    <th scope="col">寒軒國際大飯店 甜蜜家庭房乙晚</th>
                    <td>kim***shiuan@gmail.com (逾期未回覆，取消資格)</td>
                </tr>
            </tbody>
        </table>

        <h1>壹獎-合法旅宿萬元住宿券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
                <tr class="eat"><td scope="col">1</td><td scope="col">新竹老爺大酒店 豪華家庭房乙晚</td><td>ves***chang@gmail.com</td></tr>
				<tr><td scope="col">2</td><td scope="col">墾丁夏都沙灘酒店 家庭海景房乙晚</td><td>s***u@yahoo.com.tw</td></tr>
            </tbody>
        </table>

        <h1>貳獎-Eminent 20吋客製行李箱</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">Eminent 20吋客製行李箱</td><td>ann***4560@yahoo.com.tw</td></tr>
<tr><td scope="col">2</td><td scope="col">Eminent 20吋客製行李箱</td><td>su***hio@gmail.com</td></tr>
            </tbody>
        </table>

        <h1>參獎-合法旅宿雙人晚餐券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>cat2***995726@gmail.com</td></tr>
<tr><td scope="col">2</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>gl***lei@hotmail.com</td></tr>
<tr class="eat"><td scope="col">3</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>jo***944@yahoo.com.tw</td></tr>
<tr><td scope="col">4</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>lia***n2010@gmail.com</td></tr>
<tr class="eat"><td scope="col">5</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>ae***3@gmail.com</td></tr>
<tr><td scope="col">6</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>scho***90115@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">7</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>b2531***427024540@gmail.com</td></tr>
<tr><td scope="col">8</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>10***3@yes.tyc.edu.tw</td></tr>
<tr class="eat"><td scope="col">9</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>hu***42@yahoo.com.tw</td></tr>
<tr><td scope="col">10</td><td scope="col">新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>did***813@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
            </tbody>
        </table>

        <h1>肆獎-合法旅宿雙人下午茶券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>mo***shi@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">2</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>sw***413@facebook.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">3</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>ann***45677@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">4</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>407***25l@gapps.ntnu.edu.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">5</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>a09***50799@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">6</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>h.n1***.02.3@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">7</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>kin***115@yahoo.com.tw</td></tr>
<tr><td scope="col">8</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>pe***i54@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">9</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>b7***08@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">10</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>am***17@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">11</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>chi***1205@seed.net.tw</td></tr>
<tr><td scope="col">12</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>a3***583@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">13</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>pei***10049@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">14</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>che***18664@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">15</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>hm***18@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">16</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>a09***55827@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">17</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>gas***bo99@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">18</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>b8***021@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">19</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>cha***811@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">20</td><td scope="col">晶華酒店 下午茶雙人餐券乙張</td><td>iri***i0110@gmail.com</td></tr>
            </tbody>
        </table>

        <h1>伍獎-合法旅宿住宿優惠券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">逢春園 精緻客房乙晚5折住宿券</td><td>wuki***60928@gmail.com</td></tr>
<tr><td scope="col">2</td><td scope="col">逢春園 精緻客房乙晚5折住宿券</td><td>a09***30031@gmail.com</td></tr>
<tr class="eat"><td scope="col">3</td><td scope="col">散步的雲-日月潭生態民宿 B2/B3客房乙晚5折住宿券</td><td>vav***15g@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">4</td><td scope="col">散步的雲-日月潭生態民宿 B2/B3客房乙晚5折住宿券</td><td>azu***0912@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">5</td><td scope="col">喜歡農莊 標準雙人房乙晚5折住宿券</td><td>aen***0610@hotmail.com</td></tr>
<tr><td scope="col">6</td><td scope="col">喜歡農莊 標準雙人房乙晚5折住宿券</td><td>yap***811@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">7</td><td scope="col">語榕花園民宿 雙人房乙晚5折住宿券</td><td>a09***29960@gmail.com</td></tr>
<tr><td scope="col">8</td><td scope="col">語榕花園民宿 雙人房乙晚5折住宿券</td><td>pig***2356@gmail.com</td></tr>
<tr class="eat"><td scope="col">9</td><td scope="col">南庄普羅旺斯鄉村民宿 雙人房乙晚5折住宿券</td><td>thi***ng396@yahoo.com</td></tr>
<tr><td scope="col">10</td><td scope="col">南庄普羅旺斯鄉村民宿 雙人房乙晚5折住宿券</td><td>ban***mom@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">11</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>kao***n2641@gmail.com</td></tr>
<tr><td scope="col">12</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>ps***ng@hotmail.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">13</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>chan***iiiii@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">14</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>zas***x88@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">15</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>peis***cai0802@gmail.com</td></tr>
<tr><td scope="col">16</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>ws***98@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">17</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>chen***h0827@gmail.com</td></tr>
<tr><td scope="col">18</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>b09***86391@gmail.com</td></tr>
<tr class="eat"><td scope="col">19</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>katr***116755@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">20</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>g8***012@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">21</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>mmm***2010@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">22</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>tina***u0826@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">23</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>g***s@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">24</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>li***286@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">25</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>eri***3355@yahoo.com</td></tr>
<tr><td scope="col">26</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>a096***31006@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">27</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>chi***22000@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">28</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>wen***129@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">29</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>swa***w1123@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">30</td><td scope="col">洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>b90***0933@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">31</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>stu***424@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">32</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>bd***dfn@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">33</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>yuk***7456@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">34</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>zxcv9***5432123@yahoo.com</td></tr>
<tr class="eat"><td scope="col">35</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>linyih***linyihong@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">36</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>happ***920219@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">37</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>ann***akia@gmail.com</td></tr>
<tr><td scope="col">38</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>k09***08131@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">39</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>w*j@mail.hpes.tc.edu.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">40</td><td scope="col">TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>pe***823@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">41</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>je***721@ms9.url.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">42</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>wp3***5214@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">43</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>hul***n1070@gmail.com</td></tr>
<tr><td scope="col">44</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>ws***22@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">45</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>s7***042@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">46</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>yum***etty@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">47</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>ka***486@yahoo.com.tw</td></tr>
<tr><td scope="col">48</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>pai***823@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">49</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>pei***518@hotmail.com</td></tr>
<tr><td scope="col">50</td><td scope="col">老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>cyr***107@gmail.com</td></tr>
            </tbody>
        </table>

        <h1>陸獎-7-11超商100元禮物卡</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">7-11超商100元禮物卡</td><td>chi***1007@gmail.com</td></tr>
<tr><td scope="col">2</td><td scope="col">7-11超商100元禮物卡</td><td>a3***515@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">3</td><td scope="col">7-11超商100元禮物卡</td><td>cin***wey@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">4</td><td scope="col">7-11超商100元禮物卡</td><td>just***ang0421@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">5</td><td scope="col">7-11超商100元禮物卡</td><td>xd***8@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">6</td><td scope="col">7-11超商100元禮物卡</td><td>a09***55500@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">7</td><td scope="col">7-11超商100元禮物卡</td><td>jch***89a@gmail.com</td></tr>
<tr><td scope="col">8</td><td scope="col">7-11超商100元禮物卡</td><td>crys***min1028@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">9</td><td scope="col">7-11超商100元禮物卡</td><td>plm***uju@tmail.hc.edu.tw</td></tr>
<tr><td scope="col">10</td><td scope="col">7-11超商100元禮物卡</td><td>jun***1101@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">11</td><td scope="col">7-11超商100元禮物卡</td><td>kiki***8736797@gmail.com</td></tr>
<tr><td scope="col">12</td><td scope="col">7-11超商100元禮物卡</td><td>vi***one@gmail.com</td></tr>
<tr class="eat"><td scope="col">13</td><td scope="col">7-11超商100元禮物卡</td><td>ca***929@hotmail.com</td></tr>
<tr><td scope="col">14</td><td scope="col">7-11超商100元禮物卡</td><td>l2***2@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">15</td><td scope="col">7-11超商100元禮物卡</td><td>ccps***082804@gmail.com</td></tr>
<tr><td scope="col">16</td><td scope="col">7-11超商100元禮物卡</td><td>sky***.tw@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">17</td><td scope="col">7-11超商100元禮物卡</td><td>hu***nso@gmail.com</td></tr>
<tr><td scope="col">18</td><td scope="col">7-11超商100元禮物卡</td><td>emi***10909@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">19</td><td scope="col">7-11超商100元禮物卡</td><td>son***ojo@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">20</td><td scope="col">7-11超商100元禮物卡</td><td>lov***ng23@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">21</td><td scope="col">7-11超商100元禮物卡</td><td>ychin***7121990@yahoo.com.tw</td></tr>
<tr><td scope="col">22</td><td scope="col">7-11超商100元禮物卡</td><td>qaz0***599400@gmail.com</td></tr>
<tr class="eat"><td scope="col">23</td><td scope="col">7-11超商100元禮物卡</td><td>su***26@yahoo.com.tw</td></tr>
<tr><td scope="col">24</td><td scope="col">7-11超商100元禮物卡</td><td>taiw***beckhan@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">25</td><td scope="col">7-11超商100元禮物卡</td><td>e8***012@ms94.url.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">26</td><td scope="col">7-11超商100元禮物卡</td><td>b***i@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">27</td><td scope="col">7-11超商100元禮物卡</td><td>hush***20825@gmail.com</td></tr>
<tr><td scope="col">28</td><td scope="col">7-11超商100元禮物卡</td><td>tgb***9527@gmail.com</td></tr>
<tr class="eat"><td scope="col">29</td><td scope="col">7-11超商100元禮物卡</td><td>zin***u01@gmail.com</td></tr>
<tr><td scope="col">30</td><td scope="col">7-11超商100元禮物卡</td><td>w9***11e@gmail.com</td></tr>
<tr class="eat"><td scope="col">31</td><td scope="col">7-11超商100元禮物卡</td><td>fi***250@gmail.com</td></tr>
<tr><td scope="col">32</td><td scope="col">7-11超商100元禮物卡</td><td>fch***012@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">33</td><td scope="col">7-11超商100元禮物卡</td><td>spa***ce815@gmail.com</td></tr>
<tr><td scope="col">34</td><td scope="col">7-11超商100元禮物卡</td><td>a09***04296@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">35</td><td scope="col">7-11超商100元禮物卡</td><td>u12***6652@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">36</td><td scope="col">7-11超商100元禮物卡</td><td>hs***nli@gmail.com</td></tr>
<tr class="eat"><td scope="col">37</td><td scope="col">7-11超商100元禮物卡</td><td>ck***987@gmail.com</td></tr>
<tr><td scope="col">38</td><td scope="col">7-11超商100元禮物卡</td><td>a2***226@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">39</td><td scope="col">7-11超商100元禮物卡</td><td>cin***60822@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">40</td><td scope="col">7-11超商100元禮物卡</td><td>ts***uyi@gmail.com</td></tr>
<tr class="eat"><td scope="col">41</td><td scope="col">7-11超商100元禮物卡</td><td>ho***ili@gmail.com</td></tr>
<tr><td scope="col">42</td><td scope="col">7-11超商100元禮物卡</td><td>ljr***811@gmail.com</td></tr>
<tr class="eat"><td scope="col">43</td><td scope="col">7-11超商100元禮物卡</td><td>a26***825@gmail.com</td></tr>
<tr><td scope="col">44</td><td scope="col">7-11超商100元禮物卡</td><td>pg***919@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">45</td><td scope="col">7-11超商100元禮物卡</td><td>yo2***hen@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">46</td><td scope="col">7-11超商100元禮物卡</td><td>hsin***g.kao@gmail.com</td></tr>
<tr class="eat"><td scope="col">47</td><td scope="col">7-11超商100元禮物卡</td><td>z012***12001@gmail.com</td></tr>
<tr><td scope="col">48</td><td scope="col">7-11超商100元禮物卡</td><td>pia***n_22@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">49</td><td scope="col">7-11超商100元禮物卡</td><td>ang***218@gmail.com</td></tr>
<tr><td scope="col">50</td><td scope="col">7-11超商100元禮物卡</td><td>ang***0639g@gmail.com</td></tr>
<tr class="eat"><td scope="col">51</td><td scope="col">7-11超商100元禮物卡</td><td>haze***en6698@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">52</td><td scope="col">7-11超商100元禮物卡</td><td>k51***7420@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">53</td><td scope="col">7-11超商100元禮物卡</td><td>wei.***ng1411@gmail.com</td></tr>
<tr><td scope="col">54</td><td scope="col">7-11超商100元禮物卡</td><td>yu***8cc@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">55</td><td scope="col">7-11超商100元禮物卡</td><td>kuy***53653@gmail.com</td></tr>
<tr><td scope="col">56</td><td scope="col">7-11超商100元禮物卡</td><td>am***60@hotmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">57</td><td scope="col">7-11超商100元禮物卡</td><td>a7***319@yahoo.com.tw</td></tr>
<tr><td scope="col">58</td><td scope="col">7-11超商100元禮物卡</td><td>b48***862@gmail.com</td></tr>
<tr class="eat"><td scope="col">59</td><td scope="col">7-11超商100元禮物卡</td><td>op***235@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">60</td><td scope="col">7-11超商100元禮物卡</td><td>cat***6832f@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">61</td><td scope="col">7-11超商100元禮物卡</td><td>lar***510@hotmail.com</td></tr>
<tr><td scope="col">62</td><td scope="col">7-11超商100元禮物卡</td><td>81c***j813@gmail.com</td></tr>
<tr class="eat"><td scope="col">63</td><td scope="col">7-11超商100元禮物卡</td><td>mil***yang@yahoo.com.tw</td></tr>
<tr><td scope="col">64</td><td scope="col">7-11超商100元禮物卡</td><td>sl***163@gmail.com</td></tr>
<tr class="eat"><td scope="col">65</td><td scope="col">7-11超商100元禮物卡</td><td>h09***84707@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">66</td><td scope="col">7-11超商100元禮物卡</td><td>cr***62@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">67</td><td scope="col">7-11超商100元禮物卡</td><td>taoh***plastic@msa.hinet.net (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">68</td><td scope="col">7-11超商100元禮物卡</td><td>eliza***htennrich@gmail.com</td></tr>
<tr class="eat"><td scope="col">69</td><td scope="col">7-11超商100元禮物卡</td><td>nike***8605117@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">70</td><td scope="col">7-11超商100元禮物卡</td><td>r8***288@gmail.com</td></tr>
<tr class="eat"><td scope="col">71</td><td scope="col">7-11超商100元禮物卡</td><td>lyc***001@gmail.com</td></tr>
<tr><td scope="col">72</td><td scope="col">7-11超商100元禮物卡</td><td>bu***244@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">73</td><td scope="col">7-11超商100元禮物卡</td><td>ic***526@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">74</td><td scope="col">7-11超商100元禮物卡</td><td>jer***90109@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">75</td><td scope="col">7-11超商100元禮物卡</td><td>ws***22@gmail.com</td></tr>
<tr><td scope="col">76</td><td scope="col">7-11超商100元禮物卡</td><td>y9***9@gmail.com</td></tr>
<tr class="eat"><td scope="col">77</td><td scope="col">7-11超商100元禮物卡</td><td>vick***uang7@gmail.com</td></tr>
<tr><td scope="col">78</td><td scope="col">7-11超商100元禮物卡</td><td>sow***4133@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">79</td><td scope="col">7-11超商100元禮物卡</td><td>xxy***5268@gmail.com</td></tr>
<tr><td scope="col">80</td><td scope="col">7-11超商100元禮物卡</td><td>v09***23727@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">81</td><td scope="col">7-11超商100元禮物卡</td><td>d89***510@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">82</td><td scope="col">7-11超商100元禮物卡</td><td>w62***0124@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">83</td><td scope="col">7-11超商100元禮物卡</td><td>06113***7michelle@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">84</td><td scope="col">7-11超商100元禮物卡</td><td>p9***9@kimo.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">85</td><td scope="col">7-11超商100元禮物卡</td><td>dc***5dc@yahoo.com.tw</td></tr>
<tr><td scope="col">86</td><td scope="col">7-11超商100元禮物卡</td><td>chu***10912@yahoo.com</td></tr>
<tr class="eat"><td scope="col">87</td><td scope="col">7-11超商100元禮物卡</td><td>wuro***ary378@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">88</td><td scope="col">7-11超商100元禮物卡</td><td>4it***0041@fymail.onmicrosoft.com</td></tr>
<tr class="eat"><td scope="col">89</td><td scope="col">7-11超商100元禮物卡</td><td>ti***r95@yahoo.com.tw</td></tr>
<tr><td scope="col">90</td><td scope="col">7-11超商100元禮物卡</td><td>cms***ss95@gmail.com</td></tr>
<tr class="eat"><td scope="col">91</td><td scope="col">7-11超商100元禮物卡</td><td>54k***n221@gmail.com</td></tr>
<tr><td scope="col">92</td><td scope="col">7-11超商100元禮物卡</td><td>yak***_yu@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">93</td><td scope="col">7-11超商100元禮物卡</td><td>ashi***g56413@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">94</td><td scope="col">7-11超商100元禮物卡</td><td>joy***g520@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">95</td><td scope="col">7-11超商100元禮物卡</td><td>nic***1329@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">96</td><td scope="col">7-11超商100元禮物卡</td><td>con***eye@gmail.com</td></tr>
<tr class="eat"><td scope="col">97</td><td scope="col">7-11超商100元禮物卡</td><td>sa***ish@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">98</td><td scope="col">7-11超商100元禮物卡</td><td>sk***617@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">99</td><td scope="col">7-11超商100元禮物卡</td><td>a09***78260@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">100</td><td scope="col">7-11超商100元禮物卡</td><td>sh***226@yahoo.com.tw</td></tr>
            </tbody>
        </table>

        <h1>活動加碼抽-合法旅宿住宿券</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">1</td><td scope="col">趣淘漫旅 豪華景觀房 一大床乙晚</td><td>sunn***re0310@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">2</td><td scope="col">福容大飯店 花蓮 海景客房乙晚</td><td>dav***1817@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">3</td><td scope="col">福容大飯店 花蓮 海景客房乙晚</td><td>den***lien@gmail.com</td></tr>
<tr><td scope="col">4</td><td scope="col">福容大飯店 花蓮 海景客房乙晚</td><td>just***212200@yahoo.com.tw (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">5</td><td scope="col">逗號民宿 兩人房乙晚</td><td>sm***327@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">6</td><td scope="col">山房子 空氣/花雙人房乙晚</td><td>cc***en@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr class="eat"><td scope="col">7</td><td scope="col">新水調歌頭民宿 雙人套房乙晚</td><td>a09***35134@gmail.com (逾期未回覆，取消資格)</td></tr>
<tr><td scope="col">8</td><td scope="col">以合金寨 白金兩人房乙晚</td><td>chan***g1207@gmail.com</td></tr>
            </tbody>
        </table>

        <h1>候補名單</h1>
        <table class="table gift-boxB">
            <thead>
                <tr>
                    <th scope="col">獎項內容</th>
                    <th scope="col">得獎者</th>
                </tr>
            </thead>
            <tbody>
<tr class="eat"><td scope="col">總積分前三名加碼抽 - 寒軒國際大飯店 甜蜜家庭房乙晚</td><td>pen***n913737@yahoo.com.tw</td></tr>
<tr><td scope="col">參獎 - 新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>m4***6@gmail.com</td></tr>
<tr class="eat"><td scope="col">參獎 - 新竹國賓大飯店 八方燴西餐廳自助餐雙人餐券乙張</td><td>har***xc.tw@gmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>che***hongg@gmail.com</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>fish***9fish@yahoo.com.tw</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>ne***2@gmail.com</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>jud***6100@yahoo.com.tw</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>shi***8747@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>kevi***ihming@hotmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>ale***kimo@gmail.com</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>ko***tof@hotmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>ll3***012@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>bbk***y520@gmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>k09***10772@gmail.com</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>don***3852@gmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>pig***2356@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>ls***96@yahoo.com.tw</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>de***313@gmail.com</td></tr>
<tr class="eat"><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>vu***u@gmail.com</td></tr>
<tr><td scope="col">肆獎 - 晶華酒店 下午茶雙人餐券乙張</td><td>q0***2@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 散步的雲-日月潭生態民宿 B2/B3客房乙晚5折住宿券</td><td>vic***mak@hotmail.com</td></tr>
<tr><td scope="col">伍獎 - 南庄普羅旺斯鄉村民宿 雙人房乙晚5折住宿券</td><td>kun***716@hotmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>night***oud0225@yahoo.com.tw</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>viv***90369@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>blu***3178@gmail.com</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>gp***126@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>rose***y9226@gmail.com</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>lin***530@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>sun***1965@yahoo.com.tw</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>gi***331@hotmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>eha***888@gmail.com</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>aq***042@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>sej***7607@yahoo.com.tw</td></tr>
<tr><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>ne***l2@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">伍獎 - 洄瀾窩青年旅舍 憑劵訂房可享現場價9折優惠</td><td>sm***a@cycfd.gov.tw</td></tr>
<tr><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>ju4***44891@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>col***168@yahoo.com.tw</td></tr>
<tr><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>wuma***odboy@gmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>a09***16835@gmail.com</td></tr>
<tr><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>joh***217@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>ak***498@gmail.com</td></tr>
<tr><td scope="col">伍獎 - TS MOTEL(鼎帥温泉汽車旅館) 憑券來電訂房即享9折優惠，再送好湯券</td><td>p789***789839@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>shel***50050@gmail.com</td></tr>
<tr><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>kj***8@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>cel***216@yahoo.com.tw</td></tr>
<tr><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>s***5@hotmail.com</td></tr>
<tr class="eat"><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>zxc***317@gmail.com</td></tr>
<tr><td scope="col">伍獎 - 老公老婆友善民宿 透過電話訂房，憑券即享9折優惠，附贈簡單早餐</td><td>7y***el@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>qwer***9455378@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a09***92380@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>lave***r1211@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>juj***a0o@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>anit***850214@yahoo.com.tw</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>bir***g2007@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>wan***0704@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>sk***05q@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>gp2***666@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>lis***1125@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>joan***0103357@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>mbu***stmb@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>zx***55@yahoo.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a0***302@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>m0***376@yahoo.com.tw</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>apink***ji82237@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>sun***e614@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>ac***219@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>foc***118@yahoo.com.tw</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>abc***0520@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>we***519@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>yif***hou@hotmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>beli***41020@yahoo.com.tw</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a78***0096@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>l77***52002@yahoo.com.tw</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a09***93188@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a09***47980@hotmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>ho***ale@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>604***essy@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>a09***98825@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>ccch***gching@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>kam***huang@gmail.com</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>juy***6998@gmail.com</td></tr>
<tr><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>fu6***625@yahoo.com.tw</td></tr>
<tr class="eat"><td scope="col">陸獎 - 7-11超商100元禮物卡</td><td>yeh***etty@msa.hinet.net</td></tr>
<tr><td scope="col">活動加碼抽 - 趣淘漫旅 豪華景觀房 一大床乙晚</td><td>28***ic@gmail.com</td></tr>
<tr class="eat"><td scope="col">活動加碼抽 - 福容大飯店 花蓮 海景客房乙晚</td><td>jhp***7018@go.edu.tw</td></tr>
<tr><td scope="col">活動加碼抽 - 福容大飯店 花蓮 海景客房乙晚</td><td>z***8@hotmail.com</td></tr>
<tr class="eat"><td scope="col">活動加碼抽 - 逗號民宿 兩人房乙晚</td><td>ji***458@yahoo.com.tw</td></tr>
<tr><td scope="col">活動加碼抽 - 山房子 空氣/花雙人房乙晚</td><td>suk***kado@gmail.com</td></tr>
<tr class="eat"><td scope="col">活動加碼抽 - 新水調歌頭民宿 雙人套房乙晚</td><td>jo***on@gmail.com</td></tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{

}
