<div class="header_content">
    <img class="popimg" src="~/Images/popup/logo.svg" />
    @*<h2>合法旅宿POP-UP 快閃活動</h2>*@
</div>
<div class="w1400 flex-shrink-0">
    <div class="box my-5 px-5 pt-5 pb-4">
        <p>
            你也認識臺灣的合法旅宿嗎？臺灣的合法旅宿是經由政府審查核可認證的喔！可以說是旅客投宿的平安護身符，不論是在硬體設備、安全消防設施等，都有專業嚴格審核才能取得合法旅宿標章，讓大家出門在外就是要玩得開心也住得放心！
            <br />
            今年特別舉辦快閃活動，邀請大朋友小朋友一同來認識臺灣的合法旅宿，當天不只有精采的魔術表演，還有攤位活動抽限量福袋，讓你有機會把<i style="color: #ff5959;
    font-size: 20px;">萬元住宿券</i>帶回家！
        </p>

        <h1>活動日期</h1>
        <p>2022年9月24日（星期六）</p>
        <h1>活動時間</h1>
        <p>11:00-17:00</p>
        <h1>活動地點</h1>
        <p>華山文創園區 中7A館</p>
        <h1>活動流程</h1>
        <img class="pc" src="~/Images/popup/schedule-pc.jpg" />
        <img class="mobile" src="~/Images/popup/schedule-mobile.jpg" />



        <h1>如何前往</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="traffic-box">
                        <h2 class="title"><img src="~/Images/popup/car.png" />自行開車</h2>
                        <div class="info">
                            <span>停車場入口處在忠孝東路上；園區提供24小時停車服務</span>
                            <span>
                                汽車平日每小時40元、假日每小時60元
                                平日280元/天、假日540元/天
                            </span>
                            <span>
                                機車每小時25元
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="traffic-box">
                        <h2 class="title"><img src="~/Images/popup/bus.png" />搭乘公車</h2>
                        <div class="info">
                            <span>華山公園站（市民大道）/669</span>
                            <span>台北科技大學站（八德路）/205、257、276</span>
                            <span>忠孝國小站/202、202區、212、212直、232、231副、269、299、600、605、605副、605新台五線、忠孝新幹線</span>
                            <span>華山文創園區（忠孝東路）/247、205、212、220、232、232副、257、262、276、臺北市雙層觀光巴士</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="traffic-box">
                        <h2 class="title"><img src="~/Images/popup/train.png" />搭乘捷運</h2>
                        <div class="info">
                            <span>忠孝新生站（板南線／新蘆線）：1號出口步行約3分鐘</span>
                            <span>善導寺站（板南線）：6號出口步行約5分鐘</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3614.7053973591983!2d121.529358!3d25.044070000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf1c9276707165c71!2z6I-v5bGxMTkxNOaWh-WMluWJteaEj-eUoualreWckuWNgA!5e0!3m2!1szh-TW!2stw!4v1663084456579!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    </div>
</div>
    @section scripts{

    }
