<div class="header_content">
    <img src="~/Images/logo.svg" />
    <h2>使用者條款</h2>
</div>

<div class="w1400 flex-shrink-0">
    <div class="box my-5 px-5 pt-2 pb-5">
        <h1>使用者條款</h1>
        <p class="text-indent">01.	參加者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反者，主辦單位得不經通知取消參加本活動之資格，如因此致生損害，亦得請求損害賠償。</p>
        <p class="text-indent">02.	參加活動者，於首次登入時，請確定其註冊之Email為有效聯絡方式，以利領獎時聯絡得獎及核對身份，若無法聯絡到得獎人，或未於主辦單位通知之期限內回覆確認同意領取獎品，視為自動放棄得獎資格。</p>
        <p class="text-indent">03.	同一個Email帳號，僅限得獎一次，恕不重複給獎，如有重覆得獎情形，以先抽出之獎項為準。</p>
        <p class="text-indent">04.	中獎名單將公布於活動網站，請密切注意活動公告訊息；獲獎者我們將統一以當初登入之信箱聯繫，如在7個日曆天內，聯繫3次後都未回覆，將視同放棄中獎權益，依序由候補名單補上。</p>
        <p class="text-indent">05.	參加者應了解並同意提供個人資料予主辦單位，主辦單位將遵循「個人資料保護法」之規定，於本活動之特定目的範圍內蒐集，處理及利用您的個人資料。您有權透過主辦單位連絡信箱提出要求使用、更正、補充、刪除您所提供之個人資料，惟活動結束前提出刪除個人資料者，視同放棄參加本活動。</p>
        <p class="text-indent">06.	參加者應保證所填寫或提出之所有資料均為真實且正確，未冒用或盜用任何第三人之資料。如有不實或不正確之情事，將取消本活動參加資格；如致主辦單位或任何第三人受有損害，參加者應負擔相關賠償責任。</p>
        <p class="text-indent">07.	活動獎品不得轉讓、轉換、折換現金或更換其他獎項，亦不得將獎項權利轉讓第三人。</p>
        <p class="text-indent">08.	依中華民國稅法，得獎者須遵守以下規定：贈品金額超過＄1,000者，需開立扣繳憑單。贈品金額超過$20,000以上者，須繳交10%機會中獎稅；非國內居住的個人，不限中獎金額，須繳交20%機會中獎稅及需自付運費。中獎人參加本活動而需支付之任何稅捐係屬得獎人依稅法之規定所需履行之義務，概與本局無關，倘有稅務法令適用之爭議者，概由得獎人自行向開徵機關提出申訴。</p>
        <p class="text-indent">09.	主辦單位得以活動辦理情形，公告調整活動內容，其他未盡事宜，以主辦單位解釋為準。</p>
        <p class="text-indent">10.	如有任何因電腦、網路、電話、技術等不可歸責於主辦單位之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，主辦單位不負任何法律責任及賠償義務，參加者不得因此異議。</p>
        <p class="text-indent">11.	主辦單位擁有保留修改活動內容之權利，修改訊息將於活動網頁上公佈，不另行通知。</p>
        <p class="text-indent">12.	活動獎項寄送地區僅限臺、澎、金、馬，不處理郵寄獎品至海外地區之事宜，若為海外地區者，將以親領方式領取獎品。</p>

        @*<div>
                @ViewBag.b1
            </div>*@
    </div>
</div>
@section scripts{

}