<div class="header_content-stay">
    <div class="w1400">
        <div class="title">
            <h2><img src="~/Images/main-title.png" /></h2>
            <p>非法旅宿問題多</p>
            <span>隨著共享經濟盛行，非法旅宿也乘著這股風潮隱身其中，帶來許多社會問題，火災、一氧化碳中毒等意外事件，且入住不必登記，容易淪為社會犯罪的溫床，想要安心旅遊，這些你必須知道！</span>
        </div>
    </div>
</div>
<div class="w1400 flex-shrink-0">
    <div class="box stay my-5 px-5 pt-5 pb-4">
        <h3 class="text-center">安心旅遊必備</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/stay/peace1.jpg" class="img-thumbnail" alt="...">
                    <p>合法保障</p>
                    <span>在找住宿時，常會看到各種誘人的關鍵字，如：便宜、溫馨、地中海主題… 但沒有任何條件比的上「安全」，認明標章、旅宿證號，或先上臺灣旅宿網查詢，選擇合法旅宿享保障，玩的安心、放心、開心！</span>
                </div>
                <div class="col-md-6">
                    <img src="~/Images/stay/peace2.jpg" class="img-thumbnail" alt="...">
                    <p>非法旅宿關鍵字</p>
                    <span>
                        近來非法旅宿業者已很少使用日租這個名稱，但我們還是能從一些關鍵點看出端倪<br />
                        <b>關鍵1：神秘的住宿地址</b>
                        <b>關鍵2：不尋常的check-in方式</b>
                        <b>關鍵3：來歷不明的房東</b>
                        <b>關鍵4：詭異的匯款帳戶</b>
                    </span>
                </div>
                <div class="col-md-6">
                    <img src="~/Images/stay/peace3.jpg" class="img-thumbnail" alt="...">
                    <p>非法旅宿多恐怖？</p>
                    <span>
                        <b>恐怖1：入住不必登記，出入份子複雜，容易淪為色情、賭博、社會犯罪的地點。</b>
                        <b>恐怖2：公共安全、衛生、消防及建管未經查驗，人身安全無保障。</b>
                        <b>恐怖3：未投保意外險，未經法律規範，如遇消費糾紛，求助無門。</b>
                    </span>
                </div>
                <div class="col-md-6">
                    <img src="~/Images/stay/peace4.jpg" class="img-thumbnail" alt="...">
                    <p>政府對於非法旅宿的對應動作？</p>
                    <span>
                        各縣市政府觀光局除積極稽查，也加強輔導，以維護住宿安全。
                        期進行實地稽查，評估潛在問題並輔導改善。「非法旅館，可依法處10-50萬、非法民宿，可依法處6-30萬，」並禁止其營業。為了旅遊平安與住宿安全，如發現非法旅宿，請向各縣市政府觀光單位檢舉。
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}
