@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.PageTitle = "Error";
}
<div class="title">
    <p class="width_box">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i> 不存在的頁面
    </p>
</div>